version: '3'
services:

  web:
    build: .
    ports:
      - "8080:8080"
  mysql:
    image: 'mysql:latest'
    environment:
      - 'MYSQL_DATABASE=onlinemarket'
      - 'MYSQL_PASSWORD=bestuser'
      - 'MYSQL_ROOT_PASSWORD=bestuser'
      - 'MYSQL_USER=bestuser'
    ports:
      - '3306'
  app:
    build:
      context: .
      dockerfile: Dockerfile